<div class="wrapper">
    <app-navbar [navUser]="user"></app-navbar>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title">Dental Clinic</h1>
            </div>

            <h2 class="presentation-subtitle text-center">Welcome to our clinic. Your smile is our priority.</h2>
            <p>Services: Teeth Cleaning, Dental Checkups, Teeth Whitening, etc.</p>
            <p>Working Hours: Monday to Friday, 9 AM to 5 PM</p>
            <p>Contact: 123-456-7890</p>
        </div>
    </div>
</div>
